# Virtual environment
venv/

# Temporary files
tmp/

# Downloaded modpack archives
download/

# Python cache
__pycache__/
*.pyc
*.pyo

# API key (contains user's personal CurseForge API key)
config.json
